@import url('fonts/JetBrainsMono-Regular.woff2');
@import url('fonts/DINPro.woff2');


html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.dev-font {
    font-family: 'JetBrainsMono', monospace;
}

.din-font {
    font-family: 'DINPro', sans-serif;
}

.mud-navmenu.mud-navmenu-primary .mud-nav-link.active:not(.mud-nav-link-disabled) {
    color: var(--link-text) !important;
}

.mud-drawer:not(.mud-drawer-fixed) {
    position: fixed;
}

.mud-drawer.mud-drawer-mini.mud-drawer-pos-left.mud-drawer--closed {
    width: 64px;
}

    .mud-drawer.mud-drawer-mini.mud-drawer-pos-left.mud-drawer--closed ~ div:not(.mud-main-content) {
        margin-left: 64px;
    }

@media(max-width:768px) {
    .mud-drawer.mud-drawer-mini.mud-drawer--closed {
        display: none !important;
    }

    .mud-drawer.mud-drawer-mini.mud-drawer-pos-left.mud-drawer--closed ~ div:not(.mud-main-content) {
        margin-left: 0;
    }
}

.center-content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.flex-center-y {
    display: flex;
    align-items: center;
}

.text-center{
    text-align: center;
}

.flex-nowrap{
    flex-wrap: nowrap;
}

.font-italic{
    font-style: italic;
}

.font-bold {
    font-weight: 700;
}

.text-right, .text-right .k-input-inner {
    text-align: right;
}

.text-blue {
    color: #0f62fe;
}

.text-error {
    color: #d51923;
}

.bg-primary {
    background-color: var(--mud-palette-primary);
}

.bg-primary-light {
    background-color: var(--primary-light);
}

.bg-gray {
    background-color: var(--gray-color);
}

.bg-warning {
    background-color: #ff9800;
}

.input-padding {
    padding: 4px 8px !important;
}

.invalid-form {
    outline: 1px solid #d51923;
    border-radius: 2px;
}

.disabled-field{
    background-color: var(--smoke-color);
    border-radius: 2px;
}
