@page "/"
@implements IDisposable
@using Model = BaseModel

<PageTitle>Index</PageTitle>

<h3>Dashboard!</h3>

@code{
    [CascadingParameter] public AppState AppState { get; set; }

    protected override void OnInitialized()
    {
        OnAppStateInitialized();
    }

    void OnAppStateInitialized()
    {
        AppState.SetDefaults();
        AppState.ApproveButtonVisible = true;
        AppState.RejectButtonVisible = true;
    }

    void IDisposable.Dispose()
    {
        
    }

}