@page "/"
@using Model = BaseModel

<PageTitle>Index</PageTitle>

@if (_showDashboard)
{
    <h3>Dashboard Placeholder</h3>
}
else
{
    
}

@code {
    [CascadingParameter] public AppState? AppState { get; set; }
    
    bool _showDashboard = false;

    protected override void OnInitialized()
    {
        if (SessionData.CurrentUser != null && (SessionData.CurrentUser.StatusId == 0 || SessionData.CurrentUser.StatusId == 3) && SessionData.CurrentUser.UserTypeId == 1)
        {
            _showDashboard = false;
        }
        else
        {
            _showDashboard = true;
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender && SessionData.CurrentUser != null && (SessionData.CurrentUser.StatusId == 0 || SessionData.CurrentUser.StatusId == 3) && SessionData.CurrentUser.UserTypeId == 1)
        {
            NavigationManager.NavigateTo("/vendorevaluation");
        }
    }
    
}
