@if (_readAccess)
{
    <div>
        @ChildContent
    </div>
}
else
{
    <div>
        <div class="center-content">
            <div class="text-center text-error k-px-2">No Access</div>
            <TelerikButton ThemeColor="@ThemeConstants.Button.ThemeColor.Primary" OnClick="@(() => NavigationManager.NavigateTo("/"))">Go to Homepage</TelerikButton>
        </div>
    </div>
}


@code {
    [Parameter] public RenderFragment ChildContent { get; set; }

    bool _readAccess = true;
    string? _pageCode = "";

    List<string>? _commonPages = new List<string>()
    {
        "",
        "profile",
        "vendorevaluation"
    };

    protected override void OnParametersSet()
    {
        SetReadAccess();
    }

    void SetReadAccess()
    {
        _pageCode = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        if (SessionData?.CurrentUser?.UserMenuList != null)
        {
            var readAccess = SessionData?.CurrentUser?.UserMenuList.FirstOrDefault(e => _pageCode.Contains(e.MenuCode));
            _readAccess = _commonPages.Contains(_pageCode) || (readAccess != null && (readAccess.ExportAccess || readAccess.CreateAccess || readAccess.EditAccess || readAccess.DeleteAccess));
        }
    }
}
