@if (readAccess)
{
    <div>
        @ChildContent
    </div>
}
else
{
    <div>
        <div class="center-content">
            <div class="text-center text-error k-px-2">No Access</div>
            <TelerikButton ThemeColor="@ThemeConstants.Button.ThemeColor.Primary" OnClick="@(() => NavigationManager.NavigateTo("/"))">Go to Homepage</TelerikButton>
        </div>
    </div>
}


@code {
    [Parameter] public RenderFragment ChildContent { get; set; }

    bool readAccess = true;
    string? pageCode = "";

    protected override void OnParametersSet()
    {
        SetReadAccess();
    }

    void SetReadAccess()
    {
        pageCode = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        if (SessionData?.CurrentUser?.UserMenuList != null)
        {
            var _readAccess = SessionData?.CurrentUser?.UserMenuList.FirstOrDefault(e => pageCode.Contains(e.MenuCode));
            readAccess = pageCode == "" ? true : _readAccess != null ? (_readAccess.ExportAccess || _readAccess.CreateAccess || _readAccess.EditAccess || _readAccess.DeleteAccess) : false;
        }
    }
}
