
<div class="div-gen">
    <p class="p-line">This Confidentiality Agreement (<strong>“Agreement”</strong>) is made on [effectiveDate] (the “Effective Date”)</p>
    <p class="p-line">BETWEEN:</p>
    <p class="p-line"><span class="list-ident">(1)</span><strong>[businessUnitName]</strong>, (company number [businessUnitTaxId]) organized and existing under the laws of Azerbaijan and having its principal place of business at [businessUnitAddress] (<strong>“Disclosing Party”</strong>); and</p>
    <p class="p-line"><span class="list-ident">(2)</span>[companyName], (company number [companyTaxId]) organized and existing under the laws of [companyCountry] and having its registered address at [companyAddress] (<strong>“Recipient”</strong>).</p>
    <p class="p-line">The Disclosing Party and the Recipient shall hereinafter be collectively referred to as the “Parties” or individually as a “Party”.</p>
    <p class="p-line">WHEREAS:</p>
    <p class="p-line">The Disclosing Party wishes to discuss with and disclose to the Recipient certain information in relation to the Disclosing party’s and its subsidiaries current and future operations in [businessUnitCountry] in order to engage the services of the Recipient (the <strong>“Permitted Purpose”</strong>).</p>
    <p class="p-line">IT IS HEREBY AGREED AS FOLLOWS:</p>
    <p class="p-line"><span class="list-ident">1.</span>The following definitions shall apply for the purposes of this Agreement:</p>
    <p class="p-line"><strong>“Affiliate”</strong> means in relation to the Disclosing Party:</p>
    <p class="p-line"><span class="list-ident">(i)</span>the Disclosing Party’s ultimate holding company and any subsidiary (other than the Disclosing Party itself) of the Disclosing Party’s ultimate holding company; or</p>
    <p class="p-line"><span class="list-ident">(ii)</span>if the Disclosing Party is not a subsidiary of another company, any subsidiary of the Disclosing Party.</p>
    <p class="p-line"><strong>“Confidential Information”</strong> means all information communicated to or obtained by Recipient, directly or indirectly from the Disclosing Party (either through itself or its Affiliates and its and their representatives) in connection with the Permitted Purpose whether written, electronic or any other form or medium in which such information may be kept, or in the course of any oral or written communications, including geological and geophysical data, maps, models, interpretations and forecasts, technical designs, marketing arrangements, development plans and other technical, contractual or commercial data and information.</p>
    <p class="p-line"><strong>“Person”</strong> means an individual or other entity (legal or otherwise), including a corporation, joint stock company, limited liability company, partnership or joint venture.</p>
    <p class="p-line"><span class="list-ident">2.</span>The Disclosing Party is willing, in accordance with the terms and conditions of this Agreement, to disclose the Confidential Information to the Recipient.</p>
    <p class="p-line"><span class="list-ident">3.</span>In consideration of the disclosure referred to Clause 2 above, the Recipient agrees that the Confidential Information shall only be used for the Permitted Purpose, shall be kept strictly confidential and shall not be sold, traded, published or otherwise disclosed to anyone in any manner whatsoever, without the Disclosing Party’s prior written consent, except as provided for in Clauses 4 below.</p>
    <p class="p-line"><span class="list-ident">4.</span>The Recipient may disclose the Confidential Information without the Disclosing Party’s prior written consent only to the extent such information:</p>
    <p class="p-line"><span class="list-ident">(a)</span>is already known to the Recipient as of the date of disclosure hereunder;</p>
    <p class="p-line"><span class="list-ident">(b)</span>is in the public domain or becomes available to the public other than through the act or omission of the Recipient or of any other Person to whom Confidential Information is distributed pursuant to this Agreement;</p>
    <p class="p-line"><span class="list-ident">(c)</span>is required to be disclosed by law or by any government, statutory or regulatory body provided that the Recipient shall make all reasonable efforts to give prompt written notice to Disclosing Party prior to such disclosure; or</p>
    <p class="p-line"><span class="list-ident">(d)</span>is acquired independently from a third party that represents that it has the right to disclose such information at the time it is acquired by the Recipient.</p>
    <p class="p-line"><span class="list-ident">5.</span>The Recipient shall acquire no proprietary interest in, or right to, the Confidential Information and the Disclosing Party may demand the return thereof at any time upon giving written notice to the Recipient. Within thirty (30) days of receipt of such notice, the Recipient shall return all of the original Confidential Information provided on behalf of the Disclosing Party and shall destroy or cause to be destroyed all copies and reproductions (in whatever form, including but not limited to, electronic media) in its possession and in the possession of Persons to whom it was disclosed pursuant to this Agreement.</p>
    <p class="p-line"><span class="list-ident">6.</span>Clause 5 shall not apply to:</p>
    <p class="p-line"><span class="list-ident">(a)</span>Confidential Information that is required to be retained by the Recipient by law, including by stock exchange regulations or governmental order, decree, regulation or rule; and/or</p>
    <p class="p-line"><span class="list-ident">(b)</span>Confidential Information which has been automatically backed-up on the computer systems of the Recipient. To the extent that such computer back-up procedures create copies of the Confidential Information, the Recipient may retain such copies for the period they normally archive backed-up computer records.</p>
    <p class="p-line"><span class="list-ident">7.</span>The return or destruction of Confidential Information and the ability to retain certain data pursuant to clause 6 shall not release the Recipient from any of its obligations under this Agreement.</p>
    <p class="p-line"><span class="list-ident">8.</span>This Agreement shall remain in force for:</p>
    <p class="p-line"><span class="list-ident">(a)</span>three (3) years from the Effective Date; or</p>
    <p class="p-line"><span class="list-ident">(b)</span>three (3) years from the date that the Confidential Information is last disclosed to the Recipient under the Agreement; or</p>
    <p class="p-line"><span class="list-ident">(c)</span>three (3) years from the termination of the agreement for services, as may be executed, between the Parties, whichever occurs last.</p>
    <p class="p-line"><span class="list-ident">9.</span>All notices to be given hereunder by either Party shall be in writing and sent by registered post or courier to the other Party at its respective address set forth in this Agreement or such other address as may be notified from time to time by either Party to the other.  A notice shall only be effective upon actual receipt at the appropriate address.</p>
    <p class="p-line"><span class="list-ident">10.</span>No amendment, changes or modification to this Agreement shall be valid unless the same are in writing and signed by a duly authorized representative of each of the Parties.</p>
    <p class="p-line"><span class="list-ident">11.</span>Any provision of this Agreement which is found to be invalid or otherwise unenforceable shall not affect the validity or enforceability of the remaining provisions.</p>
    <p class="p-line"><span class="list-ident">12.</span>This Agreement comprises the complete agreement between the Parties in relation to the disclosure of the Confidential Information and supersedes all prior communications and agreements between the Parties relating thereto whether written or oral.</p>
    <p class="p-line"><span class="list-ident">13.</span>This Agreement may be executed by the Parties hereto in counterpart with the same effect as if the Parties hereto had signed the same document. All counterparts of this Agreement shall be construed together and shall constitute one and the same instrument.</p>
    <p class="p-line"><span class="list-ident">14.</span>This Agreement shall not create a binding commitment for the Disclosing Party to engage the services of the Recipient, and that no such commitment shall exist until the Parties enter into definitive agreement in that respect.</p>
    <p class="p-line"><span class="list-ident">15.</span>This Agreement shall be governed by and construed in accordance with the laws of the Republic of Azerbaijan and each Party hereby submits to the exclusive jurisdiction of the courts of the Republic of Azerbaijan.</p>
    <p class="p-line"><span class="list-ident">16.</span>This Agreement may be entered into by way of exchange of e-mails.</p>
</div>


@code {

    [Parameter] public BusinessUnit? CurrentBusinessUnit { get; set; } = new();
    [Parameter] public Vendor? CurrentVendor { get; set; } = new();

}

<style>
    .div-gen {}

    .p-line {
        line-height: 1.5;
        padding: 0.5rem 1rem 0.5rem 1rem;
    }

    .list-ident {
        padding-right: 2rem;
    }

    .hr-line {
        margin: 1rem;
        border: 1px solid var(--checkbox-background);
    }
</style>