<TelerikGridLayout RowSpacing="8px" ColumnSpacing="16px" VerticalAlign="GridLayoutVerticalAlign.Top">
    <GridLayoutItems>
        <GridLayoutItem Row="1" Column="1">
            <div>In development</div>
        </GridLayoutItem>
        <GridLayoutItem Row="1" Column="2">
            <div>In development</div>
        </GridLayoutItem>
    </GridLayoutItems>
</TelerikGridLayout>



@code {

}
